.category-box{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    padding: 50px 45px;
    margin-top: 50px;
    background-color: white;
    align-items: center;
}

.h1{
    margin: 10px;
    text-align: center;
}